<%- include("partials/header"); -%>
<h1>COMPOSE</h1>
<form action="/compose" class="" method ="post">
  <div class="form-group">
<label for="title"><h4 class="h4">Title</h4>  </label>
<input type="text" id="title" class="form-control"name = "title" placeholder="Enter Title" required>
</div>
<div class="form-group">
<label for="description"><h4 class="h4">Description</h4> </label>
<textarea type="text" id="description"class="form-control"name="description" row="20" cols="60" placeholder="Enter description ">
Description area
</textarea>
</div>
<button class="btn button  " type="submit">Add project</button>
</form>
<%- include("partials/footer") -%>