<%- include("partials/header"); -%>
<h1>HOME : Projects</h1>
<hr class="my-3">
<% posts.forEach(function(post){ %>

  
  <div class ="listing">
  <h4 class="h4"><%= post.title %></h4>
  <p class="text-muted"><%=post.description %></p>
  </div>


<% }) %>
<%- include("partials/footer") -%>