<!doctype html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">
    
    <title>BugBGone</title>
    
    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/floating-labels/">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="icon" href="/images/BugBGone-favicon.png" type="image/gif" sizes="16x16">
    <link href="css/styles.css" rel="stylesheet">
  </head>

  <body>
    <form class="form-signin" action="/" method="POST">
      <div class="text-center mb-4">
        <h1 class="h1 mb-3 font-weight-normal">BugBGone</h1>
        <p><i> An easy way to connect to developer.</i></p>
      </div>
      
      <div class="form-label-group" >
        <input type="email" id="inputEmail" name ="username" class="form-control" placeholder="Email address"autocomplete="off" required autofocus>
        <label for="inputEmail">Email address</label>
      </div>

      <div class="form-label-group">
        <input type="password" id="inputPassword" name ="password" class="form-control" placeholder="Password"autocomplete="off" required>
        <label for="inputPassword">Password</label>
      </div>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
      <hr class="my-3">
      <p  class=" mb-3 text-right"></p><a  href="/register" role="button">Create account</a></p>
      <p class="mt-5 mb-3 text-muted text-center">&copy; stunnerhash2020</p>
    </form>
  </body>
</html>
