
<%- include("partials/header"); -%>
<div class="container">
  <button onclick="location.href=''" class="btn button" type="button">+ Tickets</button>
  <h1 class="h2"><%= post.title.toUpperCase() %></h2>
</div>
<!-- <hr class="my-3"> -->
<p class="p"> <%= post.description %></p>
<hr  class="my-3">
<%- include("partials/footer") -%>