<%- include('partials/header'); %>
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
              <h1 class="h2">projects :</h1>
              <div class="btn-toolbar mb-2 mb-md-0">
                <div class="btn-group mr-2">
                  <button class="btn btn-sm btn-outline-secondary">Share</button>
                  <button class="btn btn-sm btn-outline-secondary">Export</button>
                </div>
                <button class="btn btn-sm btn-outline-secondary dropdown-toggle">
                  <span data-feather="calendar"></span>
                  Sort
                </button>
              </div>
            </div>

            <div class="table-responsive ">
              <div class="container ">
                <div class="row">

                <div class="card" style="width: 18rem;">
                  <div class="card-body">
                    <h3 class="card-title">Card title</h3>
                    <hr>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-outline-primary">view project</a>
                  </div>
                </div>
                <div class="card" style="width: 18rem;">
                  <div class="card-body">
                    <h3 class="card-title">Card title</h3>
                    <hr>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-outline-primary">view project</a>
                  </div>
                </div>
              <div class="card" style="width: 18rem;">
                <div class="card-body">
                  <h3 class="card-title">Card title</h3>
                  <hr>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-outline-primary">view project</a>
                </div>
              </div>
              <div class="card" style="width: 18rem;">
                <div class="card-body">
                  <h3 class="card-title">Card title</h3>
                  <hr>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-outline-primary">view project</a>
                </div>
              </div>
              
              <div class="card" style="width: 18rem;">
                <div class="card-body text-center"> 
                    <a href="#" class="btn  btn-outline-primary btn-lg ">+</a>
                </div>
              </div>
              </div>
              </div>
            </div>
        <%- include('partials/footer'); %>

          